/* GENERAL */
* {
    text-decoration: none;
    list-style: none;
    margin: 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: MEDIUM;
}
body{
    color: black;
    min-width: 400px;
    margin: 0%;
    background-color: #888888;
}
button , input{

    border:#63B2CC;
    padding: 2.5rem;
    margin:1% ;
}

input:hover,   button:hover{

    background-color: #767676;
}




.igual{

    display: grid;
    grid-template-columns: auto;

}

section{
    margin: 50px 8%;
}

/* CALCULADORA */
main {
    display:flex;
    flex-direction: column;
    align-items: center;
}



.calculadora_cuerpo {
    margin: 2em;
    
    max-width: fit-content;
    background-color:#63B2CC;
    box-shadow: 5px 2px 20px 5px ;
    border-radius: 0.8rem;
}
.calculadora_pantalla {
    
    padding:4rem;
    margin-top: 2rem;
    background-color: white;
}



.calculadora_pantalla h4 {
    font-weight: 400;
    text-align: end;
    padding: 0  0.5em;
}

.calculadora_teclado {
   
    margin-top:1%;
    padding: 0.5em;
    border-radius: 0.3rem;
    
}
.copyright{
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
}

.teclado__fila{

  display: grid;
  grid-template-columns: auto auto auto auto;    


}
/* HEADER */

header nav{
    background-color: rgb(41, 41, 41);
}

header nav ul{
    display: flex;
    padding: 10px ;
    margin: 0px;
}

header nav ul li{
    list-style-type: none;
    padding: 0px, 10px;
}
header nav ul li a {
    font-size: 25px;
    padding: 10px;
}
header nav ul li a, footer a{
    color: white;
}
hr{
    margin: 0px;
}

/* FOOTER */

footer {
    color: #888888;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer ul {
    padding: 2em 0;
    display: flex;
    min-width: 50%;
    justify-content: space-evenly;
}

/* ABOUT */

.main_container{
    display: flex;
}

#calc-img{
    width: 400px;
}
